<h2 class="aside__tittle">Search by: </h2>
<div class="separator"></div>
<ul class="keypad">
  <li class="button"
      routerLink=""
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact:true}">
      country
  </li>
  <div class="button__separator"></div>
  <li class="button" routerLink="capital" routerLinkActive="active">capital</li>
  <div class="button__separator"></div>
  <li class="button" routerLink="region" routerLinkActive="active">region</li>
  <div class="button__separator"></div>
  <li class="button" routerLink="regional-bloc" routerLinkActive="active">regional bloc</li>
</ul>